body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.poster {
  display: block;
  max-height: auto;
  margin: 2rem auto;
  width: 50%;
}
